<div class="m-5 overflow-hidden border border-gray-200 rounded-lg shadow-md">
  <table class="w-full text-sm text-left text-gray-500 bg-white border-collapse">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">{{ 'products.table-name' | translate }}</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">{{ 'products.table-product-type' | translate }}</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">{{ 'products.table-price' | translate }}</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">{{ 'products.table-status' | translate }}</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">{{ 'products.table-created-on' | translate }}</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
      </tr>
    </thead>
    <tbody class="border-t border-gray-100 divide-y divide-gray-100">
      <tr class="hover:bg-gray-50" *ngFor="let list of products;">
        <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
          <div class="relative w-10 h-10">
            <img class="object-cover object-center w-full h-full rounded-full" src="{{ list.imagePath }}" alt="" />
          </div>
          <div class="text-sm">
            <div class="font-medium text-gray-700">{{ list.name }}</div>
            <div class="text-gray-400">{{ list.code }}</div>
          </div>
        </th>
        <td class="px-6 py-4">{{ list.productType }}</td>
        <td class="px-6 py-4">{{ list.price }}</td>
        <td class="px-6 py-4">
          <span
            class="inline-flex items-center gap-1 px-2 py-1 text-xs font-semibold text-green-600 rounded-full bg-green-50">
            <span class="h-1.5 w-1.5 rounded-full bg-green-600"></span>
            {{ list.status }}
          </span>
        </td>
        <td class="px-6 py-4">
          <div class="flex justify-end gap-4">
            <a (click)="openEditModal(list)" class="cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6" x-tooltip="tooltip">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
              </svg>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-modal-product *ngIf="modalService.isModalOpen$ | async" [editedProduct]="editedProduct.seqno"></app-modal-product>